<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111058772929-d1lqt9o7i82e1ethee240rkesstoirpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111058772929-d1lqt9o7i82e1ethee240rkesstoirpt</string>
	<key>API_KEY</key>
	<string>AIzaSyAJiArfjy8MbREHBBQk31iwrHGw9JpwspU</string>
	<key>GCM_SENDER_ID</key>
	<string>111058772929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lauro.Dunnas</string>
	<key>PROJECT_ID</key>
	<string>evidenciafinalios-155d5</string>
	<key>STORAGE_BUCKET</key>
	<string>evidenciafinalios-155d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111058772929:ios:dc11c042aacb83e646c540</string>
</dict>
</plist>